<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Branches</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn bg-gradient-success text-left" id="btnBranchBtn"
                        data-button-type = "add">
                        <i class="fa fa-plus-square"></i> Add Branch
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="branchesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Branch Code</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Branch Type</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Manager Name</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
