<div class="container-fluid">
    <div class="card">
      <div class="card-header bg-gradient-primary">
        <h3 class="card-title">Loan Analysis Grades</h3>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-right">
            <!-- Button for calling add organisation modal -->
  
            <button
              type="button"
              class="btn btn bg-gradient-success text-left"
              id="newGradeBtn"
              data-toggle="modal"
              data-target="#modal-analysis-grade"
              data-form-type="grade"
              data-action-type="add"
            >
              <i class="fa fa-plus-square"></i> New Grade
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="gradesTable" class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Maximum</th>
              <th>Minimum</th>
              <th>EDIT</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Maximum</th>
              <th>Minimum</th>
              <th>EDIT</th>
              <th>DELETE</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>