<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Loan Risk Calculator</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn btn bg-gradient-success text-left"  data-form-type="job"
                    id="newApplicationBackBtn" >
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="manualScores" class="col-sm-12 col-lg-4 col-md-4 ">
                  <div class="card h-100">
                    <div class="card-header">
                      <h4 id="sharesContributionTitle" class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Manual Score Check
                      </h4>
      
                      <div class="card-tools">
      
                      </div>
                    </div>
      
                    <div class="card-body ">
                      <div class="row">
                        <div id="manual-score-chart" class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
      
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                          <div id="scores-checkbox-row" class="row">
      
                          </div>
                        </div>
                      </div>
      
                    </div>
      
                    <div class="card-footer p-2">
      
                    </div>
      
      
                    <!-- /.card-body -->
                  </div>
                </div>
      
                <div id="manualScores" class="col-sm-12 col-lg-4 col-md-4 ">
                  <div class="card h-100">
                    <div class="card-header">
                      <h4 id="sharesContributionTitle" class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Automated Score Check
                      </h4>
                    </div>
                    <div class="card-body col d-flex justify-content-center">
                      <div class="row">
                        <div id="automatic-score-chart" class="col-lg-12 col-md-12 col-sm-12">
      
                        </div>
                        <hr />
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Available Score <p class="h4"><span id="available-score" class=" badge bg-primary"></span></p>
                          </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Score <p class="h4"><span id="analysis-score" class=" badge bg-info"></span></p>
                          </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Score(%) <p class="h4"><span id="analysis-score-percentage" class=" badge bg-success"></span></p>
                          </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Installement Amount <p class="h4"><span id="installment-amount" class=" badge bg-danger"></span>
                            </p>
                          </a>
                        </div>
      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Monthly Salary <p class="h4"><span id="monthly-salary" class=" badge bg-danger"></span></p>
                          </a>
                        </div>
      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Dependants Expense <p class="h4"><span id="dependants-expense" class="badge bg-danger"></span></p>
                          </a>
                        </div>
      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Monthly Otherloans <p class="h4"><span id="monthly-otherloans" class="badge bg-danger"></span></p>
                          </a>
                        </div>
      
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a href="#" class="nav-link">
                            Monthly Business Profits <p class="h4"><span id="business-profits" class="badge bg-danger"></span>
                            </p>
                          </a>
                        </div>
                      </div>
                    </div>
      
      
      
                    <div class="card-footer p-0">
      
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
                <div id="manualScores" class="col-sm-12 col-lg-4 col-md-4 ">
      
                  <div class="card h-100 ">
                    <div class="card-header ">
                      <h4 id="sharesContributionTitle" class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Risk Analysis Result
                      </h4>
      
                      <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
      
                        </ul>
                      </div>
                    </div>
      
                    <div class="card-body col d-flex ">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
                          <div id="risk-result-chart">
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
      
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                <p class="h3">Grade <span id="loan-risk-grade" class="float-right badge bg-primary"></span>
                                </p>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link h-4">
                                <p class="h3">Range <span id="loan-risk-grade-range"
                                    class=" float-right badge bg-info"></span></p>
                              </a>
                            </li>
      
                          </ul>
      
                        </div>
                      </div>
                    </div>
      
                    <div class="card-footer p-2 ">
      
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
      
              </div>
        </div>
    </div>
</div>