
    
    <div class="modal fade" id="modal-register-client">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <form id="addUser" action="" method="post"></form>
            <div class="modal-header">
              <h4 id ="regModalTitle"  class="modal-title">Add Client</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             
            </div>
                 <div id="clientRegistration" class="modal-body">
                  
                 </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger alt-btn" data-dismiss="modal">Close</button>
                    <button type="button" id="registerBtn" class="btn btn-primary">Save</button>
                </div>
                </form>
                </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-client-job">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <form id="addUser" action="" method="post"></form>
          <div class="modal-header">
            <h4 id ="regTitle"  class="modal-title">Client Job</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
           
          </div>
               <div id="clientJobForm" class="modal-body">
                
               </div>
              <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-danger alt-btn" data-dismiss="modal">Close</button>
                  <button type="button" id="registerBtn" class="btn btn-primary">Save</button>
              </div>
              </form>
              </div>
              <!-- /.modal-content -->
      </div>
          <!-- /.modal-dialog -->
  </div>




<div class="modal fade " id="modal-del-income">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Income</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "content">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">     
              <input id="delClientId" type="hidden" name="del-user-id" class="form-control">
              <div class="form-group ">
                <label>Reason:</label>
                <div class="input-group " >
                  
                  <input id="reason" type="text"  class="form-control"
                  placeholder="Why are you deleting this client?">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-users"></span>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="delClientBtn" class="btn btn-success">Yes</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
