

<div class="modal fade" id="modal-group-client">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <form id="addExpense" action="" method="post"></form>
            <div class="modal-header">
                <h4 id="groupModalTitle" class="modal-title">Add Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="input-group ">
                            <input id="groupId" type="hidden" class="form-control">
                            <input id="recordId" type="hidden" class="form-control">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group ">
                                <label></label>
                                <div class="input-group ">
                                    <input id="groupName" type="text" class="form-control"
                                        placeholder="Group Name ">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-file"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group ">
                                <label>Group Category</label>
                                <div class="select2-primary">
                                    <select id="category" class="form-control" data-placeholder="Select Industry"
                                        data-dropdown-css-class="select2-primary" style="width: 100%;">
                                        <option value="Savings Group">Savings Group</option>
                                        <option value="Institutional Clients">Institutional Clients</option>
                                        <option value="Employee Loan Group">Employee Loan Group</option>
                                        <option value="Cooperative Society">Cooperative Society</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
                <button type="button" id="saveGroupBtn" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-to-group">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <form id="addExpense" action="" method="post"></form>
            <div class="modal-header">
                <h4 id="expenseModalTitle" class="modal-title">Add Client To Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group ">
                                <label>Select Group</label>
                                <div class="select2-primary">
                                    <select id="groupSelector" class="form-control" data-placeholder="Select Group"
                                        data-dropdown-css-class="select2-primary" style="width: 100%;">
                                   
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
                <button type="button" id="addToGroupBtn" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="js/actions/expense.js" type="module"></script>
<script>
    $("#category").select2();
    $("#groupSelector").select2();
</script>