
  <div class="modal xxl-modal fade" id="modal-loan-payments">
    <div class="modal-dialog modal-dialog-centered xxl-modal-dialog modal-xl">
      <div class="modal-content xxl-modal-content">
        <form id="addUser" action="" method="post"></form>
        <div class="modal-header">
          <h4 id="interestModalTitle" class="modal-title">Add Payments</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="content">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                        <div class="input-group ">
                            <input id="loanId" type="hidden"  class="form-control">
                          </div>
                          
                          <div class="form-group ">
                            <label>Amount</label>
                          <div class="input-group ">
                            <input id="amount" type="text"  class="form-control" placeholder="Name">
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <span class="fas fa-coins"></span>
                              </div>
                            </div>
                          </div>
                          </div>
                    </div>

               
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                        <div class="form-group">
                            <label>Payment Date</label>
                            <div
                              class="input-group date"
                              id="startDatePicker"
                              data-target-input="nearest"
                            >
                              <input
                                type="text"
                                id="busStartDate"
                                class="form-control datetimepicker-input"
                                data-target="#startDatePicker"
                              />
                              <div
                                class="input-group-append"
                                data-target="#startDatePicker"
                                data-toggle="datetimepicker"
                              >
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                            </div>
                          </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 mb-3 mt-4">
                            <button type="button" id="saveLoanPaymentBtn" class="btn btn-primary btn-lg btn-block">Add</button>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 mb-3 mt-4">
                        <table id="loanPaymentsTable" class="table  table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Amount</th>
                                    <th>Payment</th>
                                    <th>Paid Date</th>
                                    <th>Balance</th>
                                    <th>Payment</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Amount</th>
                                    <th>Payment</th>
                                    <th>Paid Date</th>
                                    <th>Balance</th>
                                    <th>Payment</th>
                                    <th>Remove</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
          <button type="button" id="saveInterestBtn" class="btn btn-primary">Save</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
