<div class="modal fade" id="modal-register-user">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form id="addUser" action="" method="post">
        <div class="modal-header">
          <h4 class="modal-title">Invite User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body xxl-modal-body">
          <div class="content">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mb-3">

                <input id="userId" type="hidden" class="form-control">

                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="form-group ">
                    <label>Email</label>
                    <div class="input-group mb-3">
                      <input id="email" type="text" name="email" class="form-control" placeholder="Email">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-users"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="form-group">
                    <label>User Role</label>
                    <div class="input-group mb-3">
                      <select class="form-control" id="invitationole" name="role" data-placeholder="Select role"
                        data-dropdown-css-class="select2-primary" style="width: 100%;">>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="form-group">
                    <label>Branches</label>
                    <div class="input-group mb-3">
                      <select class="form-control" id="branchSelector" name="branchSelector"
                        data-placeholder="Select Branch" data-dropdown-css-class="select2-primary"
                        style="width: 100%;">>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
              <button type="button" id="inviteUses" class="btn btn-primary">Send Invitation</button>
            </div>
      </form>
    </div>

  </div>

</div>
</div>
</div>

<div class="modal fade" id="modal-user-role">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form id="addUser" action="" method="post"></form>
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body xxl-modal-body">
        <div class="content">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
              <form id="editUserRoleForm">
                <input id="userId" type="hidden" class="form-control">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                  <div class="form-group">
                    <label>User Role</label>
                    <div class="input-group mb-3">
                      <select class="form-control" id="role" name="role" data-placeholder="Select role"
                        data-dropdown-css-class="select2-primary" style="width: 100%;">>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
            <button type="button" id="updateRoleBtn" class="btn btn-primary">Update Role</button>
          </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>




<div class="modal fade " id="modal-delete-user">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <form id="addUser" action="" method="post"></form>
      <div class="modal-header">
        <h4 class="modal-title">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input id="del-user-id" type="hidden" name="del-user-id" class="form-control">
        </div>

        <p id="del-user-message">Are you sure you want to delete</p>

      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="del-user-btn" class="btn btn-success">Yes</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-profile">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="addUser" action="" method="post"></form>
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input id="userId" type="hidden" class="form-control">
        </div>
        <div class="input-group mb-3">
          <input id="profileUsername" type="text" name="username" class="form-control" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-users"></span>
            </div>
          </div>
        </div>

        <!--<div class="input-group mb-3">
          <input id="curPassword" type="password" name="password" password="password" class="form-control"
            placeholder="Current Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>-->

        <div class="input-group  ">
          <label id="invalidPassword" class="text-danger"></label>
        </div>

        <div class="input-group mb-3">
          <input id="newPassword" type="password" name="password" password="password" class="form-control"
            placeholder="New Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="input-group  ">
          <label id="wrongPassword" class="text-danger"></label>
        </div>

        <div class="input-group mb-3">
          <input id="confirmPassword" type="password" name="password" password="password" class="form-control"
            placeholder="Confirm Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="input-group  ">
          <label id="wrongPasswordMatch" class="text-danger"></label>
        </div>


      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
        <button type="button" id="saveProfile" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-role">
  <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content">
      <form id="addExpense" action="" method="post"></form>
      <div class="modal-header">
        <h4 id="expenseModalTitle" class="modal-title">Add Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="row">
            <div class="input-group ">
              <input id="groupId" type="hidden" class="form-control">
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
              <div class="form-group ">
                <label>Role</label>
                <div class="input-group ">
                  <input id="roleName" type="text" class="form-control" placeholder="Role ">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-file"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
              <div class="form-group ">
                <label>Privileges</label>
                <div class="select2-info">
                  <select id="privileges" class="privileges" name="privileges[]" multiple="multiple"
                    data-placeholder="Select Privileges" data-dropdown-css-class="select2-info" style="width: 100%">
                    <option value="manages_users">Manages Users</option>
                    <option value="manages_clients">Manages Clients</option>
                    <option value="manages_applications">Manages Applications</option>
                    <option value="manages_shares">Manages Shares</option>
                    <option value="manages_finances">Manages Finances</option>
                    <option value="manages_products">Manages Products</option>
                    <option value="client_portal_access">Client Portal Access</option>
                    <option value="manages_settings">Manages Settings</option>
                    <option value="system_reports">System Reports</option>
                    <option value="admin_reports">Admin Reports</option>
                    <option value="loan_officer_reports">Loan Officer Reports</option>
                    <option value="branch_reports">Branch Reports</option>
                    <option value="client_reports">Client Reports</option>
                    <option value="owner_reports">Owner Reports</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 ">
              <div class="form-group">

                <div class="icheck-success d-inline">
                  <input id="branchSpecific" type="checkbox" />
                  <label for="branchSpecific">Branch Specific <i>(The role will only be assigned to a user on a branch)</i></label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
        <button type="button" id="saveRoleBtn" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>

  $("#branchSelector").select2();
  $("#modal-register-user").find('[id="role"]').select2();
  $("#editUserRoleForm").find('[id="role"]').select2();
  $('.privileges').select2();
</script>