<div class="container-fluid">
  <div class="card card-primary card-outline">
    <div class="card-header bg-gradient-primary">
      <h3 class="card-title font-weight-bold">
        <i class="fas fa-tachometer-alt"></i> Admin Dashboard
      </h3>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3 id="totalUsers">0</h3>
              <p>Total Users</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3 id="totalBranches">0</h3>
              <p>Total Branches</p>
            </div>
            <div class="icon">
              <i class="fas fa-piggy-bank"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner text-dark">
              <h3 id="totalInvitations">0</h3>
              <p>Toal Invitations</p>
            </div>
            <div class="icon">
              <i class="fas fa-file-alt"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3 id="totalInvitationsAccepted">0</h3>
              <p>Total Invitations Accepted</p>
            </div>
            <div class="icon">
              <i class="fas fa-copy"></i>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i> User Branches
              </h3>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div id="userBranchesChart" style="width:100%; height:100%;"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-bar mr-1"></i> User Against Roles
              </h3>
            </div>
            <div class="card-body justify-content-center">
              <div id="userRolesChart" style="width:100%; height:350%;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
