<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h4 id="totalRevenue" class="font-weight-bold">0</h4>
                    <p>Total Revenue</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>

             
            </div>
        </div>


        <div class="col-lg">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h4 id="totalIncome" class="font-weight-bold" >0</h4>
                    <p>Total Income</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>

                
            </div>
        </div>

        <div class="col-lg">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h4 class="font-weight-bold" id="totalExpenses">0</h4>
                    <p>Total Expenses</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>

               
            </div>
        </div>

        <div class="col-lg">
          <!-- small box -->
          <div class="small-box bg-dark">
              <div class="inner">
                  <h4 id="currentlyLoaned" class="font-weight-bold" >0</h4>
                  <p>Currently Loaned</p>
              </div>
              <div class="icon">
                  <i class="ion ion-bag"></i>
              </div>

          </div>
         </div>


        
    </div>

    <div class="row">
      <div class="col-lg">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h4 id="expectedProfit" class="font-weight-bold" >0</h4>
                <p>Expected Profit</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

        </div>
       </div>
      <div class="col-lg">
        <!-- small box -->
        <div class="small-box bg-secondary">
            <div class="inner">
                <h4 id="totalProfits" class="font-weight-bold">0</h4>
                <p>Total Profits</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

         
        </div>
    </div>

    <div class="col-lg">
        <!-- small box -->
        <div class="small-box bg-primary">
            <div class="inner">
                <h4 id="totalClients" class="font-weight-bold">0</h4>
                <p>Total Clients</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

           
        </div>
    </div>

    <div class="col-lg">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h4 id="totalUsers" class="font-weight-bold">0</h4>
                <p>Users</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

        </div>
    </div>

    </div>


    <div class="row">
        <!-- ./col -->

        <div class="col-lg-4 col-sm-12 col-md-6">
      
          <div class="card h-100">
            <div class="card-header">
              <h4 id="sharesContributionTitle" class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Shares & Contributions Chart
              </h4>

              <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                  <li class="nav-item"> 
                    <a id="sharesDonutLink"
                      class="nav-link active"
                      >Donut</a
                    >
                  </li>
                  <li id="sharesContId" class="nav-item ml-4 mt-1 d-none">
                    <h5 id="tabular-pin" class="text-secondary">
                      <i class="fas fa-solid fa-map-pin"></i>
                    </h5>
                  </li>
                </ul>
              </div>
            </div>

            <div id="shareContribution" class="card-body col d-flex justify-content-center">
          
            </div>
            <!-- /.card-body -->
          </div>
        </div>


        <div class="col-lg-8">
          <div class="card h-100">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Returns Growth
              </h3>
            </div>
            <div class="card-body">
              <div id="returns-growth"></div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
</div>