

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"></h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->


                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-lg">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h4 id="totalAccounts" class="font-weight-bold">0</h4>
                            <p>Total Accounts</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
        
                     
                    </div>
                </div>
        
        
                <div class="col-lg">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h4 id="totalActivatedAccounts" class="font-weight-bold" >0</h4>
                            <p>Total Activated Accounts</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
        
        
                    </div>
                </div>
        
                <div class="col-lg">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h4 class="font-weight-bold" id="totalDeactivatedUsers">0</h4>
                            <p>Total Deactivated Users</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
        
                       
                    </div>
                </div>
        
                <div class="col-lg">
                  <!-- small box -->
                  <div class="small-box bg-dark">
                      <div class="inner">
                          <h4 id="totalUsers" class="font-weight-bold" >0</h4>
                          <p>Total Users</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-bag"></i>
                      </div>
        
                  </div>
                 </div>
                
            </div>
        
            <div class="row">
                <!-- ./col -->
        
           
              </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>