<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Investors</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="interestsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Investor Name</th>
                        <th>Email</th>
                        <th>M</th>
                        <th>Rate(%)</th>
                        <th>Accum Amount(MWK)</th>
                        <th>Period(Wks)</th>
                        <th>Grace Period(Days)</th>
                        <th>Accum Days</th>
                        <th>EDIT</th>
                        <th>DEL</th>
                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Max(MWK)</th>
                        <th>Min(MWK)</th>
                        <th>Rate(%)</th>
                        <th>Accum Amount(MWK)</th>
                        <th>Period(Wks)</th>
                        <th>Grace Period(Days)</th>
                        <th>Accum Days</th>
                        <th>EDIT</th>
                        <th>DEL</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
