<div class="container-fluid">
    <div class="card">
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title"> <span class="badge-pill badge-primary">Roles Privileges</span></h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for adding user roles -->
                    <button type="button" class="btn bg-gradient-success text-left" id="uploadClients"
                        data-toggle="modal" data-target='#modal-role' data-button-type="add">
                        <i class="fa fa-plus-square"></i> Add Role
                    </button>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="rolesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th class="small">Role</th>
                        <th class="small">Description</th>
                        <th class="small">System Default</th>
                        <th class="small">Manages Users</th>
                        <th class="small">Manages Clients</th>
                        <th class="small">Manages Applications</th>
                        <th class="small">Manages Finances</th>
                        <th class="small">Manages Products</th>
                        <th class="small">Client Portal Access</th>
                        <th class="small">Manages Settings</th>
                         <th class="small">Manages Shares</th>
                        <th class="small">DELETE</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>