<div class="container-fluid">
 
    <!-- /.card -->
    <div class="card">
      
        <!-- /.card-header -->
        <div class="card-header  bg-gradient-primary">
            <h3 class="card-title"> <span class="badge-pill badge-warning">Pending Invitations</span></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="pendingInvitesTable" class="table bg-default  table-striped">
                <thead>
                    <tr>
                        <th>Email Address</th>
                        <th>Role</th>
                        <th>Accepted</th>
                        <th>Expires At</th>
                        <th>Sent At</th>
                        <th>Resend</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                
            </table>
        </div>
        <!-- /.card-body -->
    </div>
   
</div>

