<li class="nav-item">
    <a href="#" id="dashboard-link" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Dashboard</p>
    </a>
  </li>

  <li class="nav-item">
    <a id="clients" href="#" class="nav-link">
      <i class="nav-icon fas fa-user-friends"></i>
      <p>Clients</p>
    </a>
  </li>

  <li class="nav-item">
    <a id="loans" href="#" class="nav-link">
      <i class="nav-icon fas fa-book"></i>
      <p>Loans</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-money-bill-alt"></i>
      <p>Income</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-coins"></i>
      <p>Investors</p>
    </a>
  </li>

  <li class="nav-item admin-link-item">
    <a href="#" id="users" class="nav-link">
      <i class="nav-icon fas fa-user-cog"></i>
      <p>Users</p>
    </a>
  </li>