<li class="nav-item">
    <a href="#" id="dashboard-link" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Dashboard</p>
    </a>
  </li>

  <li  class="nav-item menu-open sidebar-link ">
    <a href="#" class="nav-link">
      <i class="fas fa-people"></i>
      <p>
        Clients
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul  class="nav nav-treeview">
      <li class="nav-item">
        <a id="individualClient" href="#" class="nav-link">
          <i class="fas fa-clock"></i>
          <p>Individuals</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="orgClient" href="#" class="nav-link">
          <i class="fas fa-school"></i>
          <p>Organization</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a id="loans" href="#" class="nav-link">
      <i class="nav-icon fas fa-book"></i>
      <p>Loans</p>
    </a>
  </li>


  <li class="nav-item">
    <a id="interests" href="#" class="nav-link">
      <i class="nav-icon fas fa-percent"></i>
      <p>Interests</p>
    </a>
  </li>


  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-money-bill-alt"></i>
      <p>Income</p>
    </a>
  </li>
  

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-coins"></i>
      <p>Investors</p>
    </a>
  </li>

  <li class="nav-item admin-link-item">
    <a href="#" id="users" class="nav-link">
      <i class="nav-icon fas fa-user-cog"></i>
      <p>Users</p>
    </a>
  </li>