

<li class="nav-item">
  <a href="#" id="admin-dashboard" class="nav-link">
    <i class="nav-icon fas fa-chart-line"></i>
    <p class="h5">Dashboard</p>
  </a>
</li>

<li class="nav-item menu-closed sidebar-link">
  <a href="#" class="nav-link">
    <i class="fas fa-users"></i>
    <p class="h5 ml-1">
      Clients
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a id="individualClient" href="#" class="nav-link">
        <i class="fas fa-user-clock"></i>
        <p class="h7">Retail</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="orgClient" href="#" class="nav-link">
        <i class="fas fa-university"></i>
        <p class="h7">Institution</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="groupClient" href="#" class="nav-link">
        <i class="fas fa-users-cog"></i>
        <p class="h7">Groups</p>
      </a>
    </li>
  </ul>
</li>

<li class="nav-item menu-closed sidebar-link">
  <a href="#" class="nav-link">
    <i class="fas fa-hand-holding-usd"></i>
    <p class="h5 ml-1">
      Loans
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a id="applications" href="#" class="nav-link">
        <i class="fas fa-file-signature"></i>
        <p class="h7">Applications</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="loans" href="#" class="nav-link">
        <i class="fas fa-check-circle"></i>
        <p class="h7">Approved Loans</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="seized-collaterals" href="#" class="nav-link">
        <i class="fas fa-gavel"></i>
        <p class="h7">Seized Collaterals</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="collateral-sales" href="#" class="nav-link">
        <i class="fas fa-store"></i>
        <p class="h7">Collateral Sales</p>
      </a>
    </li>
  </ul>
</li>

<li class="nav-item">
  <a id="interests" href="#" class="nav-link">
    <i class="nav-icon fas fa-percentage"></i>
    <p class="h5">Loan Products</p>
  </a>
</li>

<li class="nav-item">
  <a id="income" href="#" class="nav-link">
    <i class="nav-icon fas fa-wallet"></i>
    <p class="h5">Income</p>
  </a>
</li>

<li class="nav-item menu-closed sidebar-link">
  <a href="#" class="nav-link">
    <i class="fas fa-chart-pie"></i>
    <p class="h5 ml-1">
      Investments
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a id="investment-packages" href="#" class="nav-link">
        <i class="fas fa-boxes"></i>
        <p class="h7">Investment Products</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="investments" href="#" class="nav-link">
        <i class="fas fa-chart-line"></i>
        <p class="h7">Investments</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="returnOfInvestiments" href="#" class="nav-link">
        <i class="fas fa-hand-holding-usd"></i>
        <p class="h7">ROIs</p>
      </a>
    </li>
  </ul>
</li>

<li class="nav-item">
  <a href="#" id="expenses" class="nav-link">
    <i class="nav-icon fas fa-money-check-alt"></i>
    <p class="h5">Expenses</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="users" class="nav-link">
    <i class="nav-icon fas fa-user-shield"></i>
    <p class="h5">Users</p>
  </a>
</li>

<li class="nav-item menu-closed sidebar-link">
  <a href="#" class="nav-link">
    <i class="fas fa-cogs"></i>
    <p class="h5 ml-1">
      Settings
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a id="score-names" href="#" class="nav-link">
        <i class="fas fa-list-ol"></i>
        <p class="h7">Scores Names</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="dti-ratios" href="#" class="nav-link">
        <i class="fas fa-balance-scale"></i>
        <p class="h7">DTI Ratios</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="scores" href="#" class="nav-link">
        <i class="fas fa-trophy"></i>
        <p class="h7">Scores</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="grades" href="#" class="nav-link">
        <i class="fas fa-star"></i>
        <p class="h7">Grades</p>
      </a>
    </li>
    <li class="nav-item">
      <a id="account-settings" href="#" class="nav-link">
        <i class="fas fa-user-cog"></i>
        <p class="h7">Account Settings</p>
      </a>
    </li>
  </ul>
</li>
