<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
        <i class="fas fa-users"></i>
        <p class="h5 ml-1">
            Clients
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="individualClient" href="#" class="nav-link">
                <i class="fas fa-user-clock"></i>
                <p class="h7">Retail</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="orgClient" href="#" class="nav-link">
                <i class="fas fa-university"></i>
                <p class="h7">Institution</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="groupClient" href="#" class="nav-link">
                <i class="fas fa-users-cog"></i>
                <p class="h7">Groups</p>
            </a>
        </li>
    </ul>
</li>