
  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-tachometer-alt"></i>
      <p class="h5 ml-1">
        Dashboards
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="admin-dashboard" href="#" class="nav-link">
          <i class="fas fa-users"></i>
          <p>Admin</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="investor-dashboard" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p>My Investiments</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-user"></i>
      <p class="h5 ml-1">
        Clients
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="individualClient" href="#" class="nav-link">
          <i class="fas fa-clock"></i>
          <p>Individuals</p>
        </a>
      </li>
    </ul>
    <!--<ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="orgClient" href="#" class="nav-link">
          <i class="fas fa-school"></i>
          <p>Organization</p>
        </a>
      </li>
    </ul>-->
  </li>

  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-coins "></i>
      <p class="h5 ml-1">
         Loans
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="applications" href="#" class="nav-link">
          <i class="fas fa-clock"></i>
          <p class="h7">Applications</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="loans" href="#" class="nav-link">
          <i class="fas fa-school"></i>
          <p class="h7">Approved Loans</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="seized-collaterals" href="#" class="nav-link">
          <i class="fas fa-building"></i>
          <p class="h7">Seized Collaterals</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="collateral-sales" href="#" class="nav-link">
          <i class="fas fa-money-bill-alt"></i>
          <p class="h7">Collateral Sales</p>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fa fa-cog "></i>
      <p class="h5 ml-1">
         Investments
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="investment-packages" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p class="h7">Investment Packages</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="investors" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p class="h7">Investors</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="investments" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p class="h7">Investments</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="returnOfInvestiments" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p class="h7">ROIs</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a id="interests" href="#" class="nav-link ">
      <i class="nav-icon fas fa-percent "></i>
      <p class="h5">Interests</p>
    </a>
  </li>
  

  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-tachometer-alt"></i>
      <p class="h5 ml-1">
        My
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="my-investments" href="#" class="nav-link">
          <i class="fas fa-users"></i>
          <p>Investiments</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="my-rois" href="#" class="nav-link">
          <i class="fas fa-coins"></i>
          <p>My ROIs</p>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item">
    <a id="income" href="#" class="nav-link">
      <i class="nav-icon fas fa-money-bill-alt"></i>
      <p class="h5">Income</p>
    </a>
  </li>

  <li class="nav-item admin-link-item">
    <a href="#" id="expenses" class="nav-link">
      <i class="nav-icon fas fa-money-bill-alt"></i>
      <p class="h5">Expenses</p>
    </a>
  </li>
  
  <li class="nav-item admin-link-item">
    <a href="#" id="users" class="nav-link">
      <i class="nav-icon fas fa-user-cog"></i>
      <p class="h5">Users</p>
    </a>
  </li>

  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fa fa-cog ml-1"></i>
      <p class="h5 ml-1">
         Analysis Settings
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="scores" href="#" class="nav-link">
          <i class="fas fa-clock"></i>
          <p class="h7">Scores</p>
        </a>
      </li>
    </ul>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="grades" href="#" class="nav-link">
          <i class="fas fa-school"></i>
          <p class="h7">Grades</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-mail ml-1"></i>
      <p class="h5 ml-1">
         Mail
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview ">
      <li class="nav-item">
        <a id="email-subscribers" href="#" class="nav-link">
          <i class="fas fa-clock"></i>
          <p class="h7">Subscriptions</p>
        </a>
      </li>
    </ul>
  </li>