<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-cogs"></i>
      <p class="h5 ml-1">
        Finances
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" id="expenses" class="nav-link">
          <i class="nav-icon fas fa-money-check-alt"></i>
          <p class="h7">Expenses</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="income" href="#" class="nav-link">
          <i class="nav-icon fas fa-wallet"></i>
          <p class="h7">Income</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="investments" href="#" class="nav-link">
          <i class="fas fa-chart-line"></i>
          <p class="h7">Investments</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="returnOfInvestiments" href="#" class="nav-link">
          <i class="fas fa-hand-holding-usd"></i>
          <p class="h7">ROIs</p>
        </a>
      </li>
    </ul>
  </li>