<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-hand-holding-usd"></i>
      <p class="h5 ml-1">
        Loans
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="applications" href="#" class="nav-link">
          <i class="fas fa-file-signature"></i>
          <p class="h7">Applications</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="loans" href="#" class="nav-link">
          <i class="fas fa-check-circle"></i>
          <p class="h7">Approved Loans</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="seized-collaterals" href="#" class="nav-link">
          <i class="fas fa-gavel"></i>
          <p class="h7">Seized Collaterals</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="collateral-sales" href="#" class="nav-link">
          <i class="fas fa-store"></i>
          <p class="h7">Collateral Sales</p>
        </a>
      </li>
    </ul>
  </li>
  