<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
        <i class="fas fa-chart-pie"></i>
        <p class="h5 ml-1">
            Products
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="investment-packages" href="#" class="nav-link">
                <i class="fas fa-boxes"></i>
                <p class="h7">Investment Products</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="interests" href="#" class="nav-link">
                <i class="nav-icon fas fa-percentage"></i>
                <p class="h7">Loan Products</p>
            </a>
        </li>
    </ul>
</li>