<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-cogs"></i>
      <p class="h5 ml-1">
        Settings
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a id="score-names" href="#" class="nav-link">
          <i class="fas fa-list-ol"></i>
          <p class="h7">Scores Names</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="dti-ratios" href="#" class="nav-link">
          <i class="fas fa-balance-scale"></i>
          <p class="h7">DTI Ratios</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="scores" href="#" class="nav-link">
          <i class="fas fa-trophy"></i>
          <p class="h7">Scores</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="grades" href="#" class="nav-link">
          <i class="fas fa-star"></i>
          <p class="h7">Grades</p>
        </a>
      </li>
      <li class="nav-item">
        <a id="account-settings" href="#" class="nav-link">
          <i class="fas fa-user-cog"></i>
          <p class="h7">Account Settings</p>
        </a>
      </li>
    </ul>
  </li>