<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
        <i class="fas fa-chart-pie"></i>
        <p class="h5 ml-1">
            Shares Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="shareClass" href="#" class="nav-link">
                <i class="nav-icon fas fa-coins"></i>
                <p class="h7">Share Classes</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="shareholders" href="#" class="nav-link">
                <i class="fas fa-boxes "></i>
                <p class="h7">Shareholders</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="capitalContribution" href="#" class="nav-link">
                <i class="fas fa-boxes "></i>
                <p class="h7">Capital Contribution</p>
            </a>
        </li>
         <li class="nav-item">
            <a id="shares" href="#" class="nav-link">
                <i class="fas fa-boxes "></i>
                <p class="h7">Shares</p>
            </a>
        </li>
    </ul>
</li>