<li class="nav-item menu-closed sidebar-link">
    <a href="#" class="nav-link">
      <i class="fas fa-users"></i>
      <p class="h5 ml-1">
        Users
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" id="users" class="nav-link">
          <i class="nav-icon fas fa-user"></i>
          <p class="h7">Users</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" id="userInvitations" class="nav-link">
          <i class="nav-icon fas fa-solid fa-envelope"></i>
          <p class="h7">Invitations</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" id="roles" class="nav-link">
          <i class="nav-icon fas fa-user-shield"></i>
          <p class="h7">Roles</p>
        </a>
      </li>
    </ul>
  </li>