<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>National ID</h5>
        </div>
        <div class="card-body">
          <p id="recordNationalId"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Firstname</h5>
        </div>
        <div class="card-body">
          <p id="recordFirstname"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Lastname</h5>
        </div>
        <div class="card-body">
          <p id="recordLastname"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Gender</h5>
        </div>
        <div class="card-body">
          <p id="recordGender"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Date Of Birth</h5>
        </div>
        <div class="card-body">
          <p id="recordDateOfBirth"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home TA</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeTa"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home District</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeDistrict"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Current TA</h5>
        </div>
        <div class="card-body">
          <p id="recordCurrentTa"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Current Village</h5>
        </div>
        <div class="card-body">
          <p id="recordCurrentVillage"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Current District</h5>
        </div>
        <div class="card-body">
          <p id="recordCurrentDistrict"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home District</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeDistrict"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home Village</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeVillage"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home TA</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeTa"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Home TA</h5>
        </div>
        <div class="card-body">
          <p id="recordHomeTa"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header bg-dark">
          <h5>Nearest Landmark</h5>
        </div>
        <div class="card-body">
          <p id="recordNearestLandmark"></p>
        </div>
      </div>
    </div>
  </div>
</div>
