<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Groups</h3>

            <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                <button type="button" class="btn bg-gradient-success text-left" id="addOrganizationClientForm"
                    data-client-type="organization">
                    <i class="fa fa-plus-square"></i> New
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="groupsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Members</th>
                        <th>RECORD</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Members</th>
                        <th>RECORD</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>