<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 id = "recordName" class="card-title">Client Name Here</h3>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-12 text-right">
              <!-- Button for calling add organisation modal -->
              <button
              type="button"
              class="btn bg-gradient-secondary text-left"
              id="recordBackBtn"
              data-client-type="individual"
            >
              <i class="fa fa-arrow-left"></i> Back
            </button>
              
          </div>
      </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body" id="individualRecord">
         <div class="row">
            <div id="btnDemographics" class="   col-lg-4 col-md-6 col-sm-12 p-3 program">
                <div class="card shadow-lg bg-dark">
                  <div class="card-body">
                    <h4 class="text-center"><span><i class="fas fa-list"></i></span> Demographics</h4>
                  </div>
                </div>
              </div>
              <div id="btnJobs" class="col-lg-4 col-md-6 col-sm-12 p-3  program">
        
                <div class="card shadow-lg bg-dark">
                  <div class="card-body">
                  
                    <h4 class="text-center"><span><i class="fas fa-briefcase"></i></span> Jobs</h4>
                  </div>
                </div>
            
              </div>
        
              <div id="dependants" class="  col-lg-4 col-md-6 col-sm-12 p-3 program">
              
                <div class ="card shadow-lg bg-dark">
                  <div class="card-body">
                    <h4 class="text-center"><span><i class="fa fa-users"></i></span> Dependants</h4>
                  </div>
                </div>
              
              </div>

              <div id="businesses" class="  col-lg-4 col-md-6 col-sm-12 p-3 program">
                <div class ="card shadow-lg bg-dark">
                  <div class="card-body">
                    <h4 class="text-center"><i class="fas fa-building"></i> Businesses</h4>
                  </div>
                </div>
              </div>

              <div id="assets" class="  col-lg-4 col-md-6 col-sm-12 p-3 program">
                <div class ="card shadow-lg bg-dark">
                  <div class="card-body">
                    <h4 class="text-center"><i class="fas fa-hand-holding-usd"></i> Assets</h4>
                  </div>
                </div>              
              </div>

              <div id="loans" class="  col-lg-4 col-md-6 col-sm-12 p-3 program">
                <div class ="card shadow-lg bg-dark">
                  <div class="card-body">
                    <h4 class="text-center"><i class="fas fa-money-check"></i> Loans</h4>
                  </div>
                </div>
              </div>   
         </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  