<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Individuals</h3>
         
     

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-12 text-right">
            <!-- Button for calling add organisation modal -->
            <button
            type="button"
            class="btn bg-gradient-success text-left"
            id="uploadClients"
            data-toggle="modal"
            data-target="#modal-register-client"
            data-action-type="add"
            data-client-type="individual"
          >
            <i class="fa fa-plus-square"></i> New
          </button>
            
        </div>
    </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="individualsTable" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>National ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>RECORD</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>National ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>RECORD</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
