<div class="container-fluid">
  <div class="card card-warning card-outline">
    <div class="card-header">
      <h3 id="recordName" class="card-title">Dependants</h3>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-12 text-right">
          <!-- Button for calling add organisation modal -->
          <button type="button" class="btn bg-gradient-primary text-left" id="downloadClientRecord"
            data-client-type="individual">
            <i class="fa fa-download"></i> Record
          </button>
          <button type="button" class="btn bg-gradient-secondary text-left" id="clientsBackBtn"
            data-client-type="individual">
            <i class="fa fa-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="individualRecord">
      <div class="row">
        <div id="btnDemographics" class="col-lg-4 col-md-6 col-sm-12 p-3  ">
          <div class="card shadow-lg bg-gradient-default record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/demographics.png" alt="Card image cap">
                <h4 class="text-center">Demographics</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="btnJobs" class="col-lg-4 col-md-6 col-sm-12 p-3 ">
          <div class="card shadow-lg bg-gradient-default  record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/jobs.png" alt="Card image cap">
                <h4 class="text-center">Jobs</h4>
              </div>

            </div>
          </div>
        </div>

        <div id="btnDependants" class="col-lg-4 col-md-6 col-sm-12 p-3 ">
          <div class="card shadow-lg bg-gradient-default record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/dependants.png" alt="Card image cap">
                <h4 class="text-center">Dependants</h4>
              </div>
            </div>
          </div>
        </div>

        <div id="btnBusinesses" class="col-lg-4 col-md-6 col-sm-12 p-3 ">
          <div class="card shadow-lg bg-gradient-default  record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/businesses.png" alt="Card image cap">
                <h4 class="text-center">Businesses</h4>
              </div>
            </div>
          </div>
        </div>

        <div id="btnAssets" class="col-lg-4 col-md-6 col-sm-12 p-3 ">
          <div class="card shadow-lg bg-gradient-default  record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/assets.png" alt="Card image cap">
                <h4 class="text-center">Assets</h4>
              </div>
            </div>
          </div>
        </div>

        <div id="btnOtherLoans" class="col-lg-4 col-md-6 col-sm-12 p-3 program ">
          <div class="card shadow-lg bg-gradient-default record">
            <div class="card-body justify-content-center">
              <div class="col">
                <img class="card-img-left loan-app-image" src="dist/img/otherloans.png" alt="Card image cap">
                <h4 class="text-center">Other Loans</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>