<div class="container-fluid">
    <div class="card card-outline ">
        <div class="card-header">
            <h3 class="card-title font-weight-bold"> <i class="nav-icon fas fa-piggy-bank  "></i> Investments</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <button type="button" class="btn bg-gradient-success text-left" id="addSub"
                        >
                        <i class="fa fa-plus"></i> Add Investment
                    </button>

                    <button type="button" class="btn bg-gradient-secondary text-left" id="recordBackBtn"
                        data-client-type="individual">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="card card-outline ">
                <div class="card-header">
                    <h3 class="card-title">Investments</h3>
                </div>
                <div class="card-body">
                    <table id="myInvestmentsTable" class="table   table-striped">
                        <thead class="bg-gradient-primary">
                            <tr>
                                <th>Month</th>
                                <th>Year</th>
                                <th>Amount</th>
                                <th>Total Investment</th>
                                <th>Compounded Amount</th>
                                <th>ROI</th>
                                <th>ROI RATE</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>