<div class="container-fluid">    
      <table id="jobsTable" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Department</th>
            <th>Employer Type</th>
            <th>Employer Name</th>   
            <th>Employment Started</th>
            <th>Date Started</th>
            <th>Contract Due</th>
            <th>Net Salary</th>
            <th>Gross Salary</th>
            <th>Pay Date</th>
            <th>Postal Address</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>District</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Department</th>
            <th>Employer Type</th>
            <th>Employer Name</th>
            <th>Employment Started</th>
            <th>Date Started</th>
            <th>Contract Due</th>
            <th>Net Salary</th>
            <th>Gross Salary</th>
            <th>Pay Date</th>
            <th>Postal Address</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>District</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </tfoot>
      </table>
</div>
