<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Investment Packages</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->
                    <button type="button" class="btn bg-gradient-success text-left" id="uploadClients"
                        data-toggle="modal" data-target="#modal-investiment-package" data-button-type="add">
                        <i class="fa fa-plus-square"></i> Add Investment Package
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="investmentPackagesTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Min Amount</th>
                        <th>Max Amount</th>
                        <th>Rate(%)</th>
                        <th>ifrequency</th>
                        <th>Duration</th>
                        <th>Currency</th>
                        <th>Risk</th>
                        <th>RQMTs</th>
                        <th>T&Cs</th>
                        <th>PS</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Min Amount</th>
                        <th>Max Amount</th>
                        <th>Rate(%)</th>
                        <th>ifrequency</th>
                        <th>Duration</th>
                        <th>Currency</th>
                        <th>Risk</th>
                        <th>RQMTs</th>
                        <th>T&Cs</th>
                        <th>PS</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>