<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">My Investments</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <!--<table id="myInvestmentsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Amount(Mwk)</th>
                        <th>Compounded Amount</th>
                        <th>ROI</th>
                        <th>Investment Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>-->
            
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>