<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">My Investments</h3>
       

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="myInvestmentsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Amount(Mwk)</th>
                        <th>Investment Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Package Name</th>
                        <th>Amount(Mwk)</th>
                        <th>Investment Date</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


