<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">My Return On Investments</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="myReturnOnInvestmentsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Total Invested(Mwk)</th>
                        <th>Interest Rate</th>
                        <th>ROIs (MwK)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Package Name</th>
                        <th>Total Invested(Mwk)</th>
                        <th>Interest Rate</th>
                        <th>ROIs (MwK)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
