<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Return on Investment</h3>
            

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="returnOnInvestmentsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Package Name</th>
                        <th>Interest Rate</th>
                        <th>Amount(Mwk)</th>
                        <th>ROIs (MwK)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Package Name</th>
                        <th>Interest Rate</th>
                        <th>Amount(Mwk)</th>
                        <th>ROIs (MwK)</th>
                      
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


