
<div class="container justify-content-center align-items-center mt-5">
    <div class="card  card-default custom-card ">
        <div class="card-header card-dark text-center">
            <a href="#" class="h1 text-bold ">Thumba</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg  h5 mb-4 text-italic">Register your company here and start using thumba for you
                microfinance</p>
    
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="card  card-default card-outline  custom-card">
                        <div class="card-header ">
                            <a href="#" class="h4 ">Company Details</a>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3 ">
                                <input type="text" id="name" class="form-control" placeholder="Account Name">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <textarea type="text" class="form-control" id="address" placeholder="Address" rows="6"
                                    cols="50" maxlength="200"></textarea>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" id="email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="phoneNumber" class="form-control" id="phoneNumber"
                                    placeholder="Phone Number">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="card  card-default custom-card card-outline ">
                        <div class="card-header ">
                            <a href="#" class="h4 ">Custodian Details</a>
                        </div>
                        <div class="card-body">
    
    
                            <div class="input-group mb-3">
                                <input type="text" id="firstname" class="form-control" placeholder="firstname">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <input type="text" id="lastname" class="form-control" placeholder="lastname">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <input type="text" id="nationalId" class="form-control" placeholder="National ID">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <input type="text" id="username" class="form-control" placeholder="Username">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <input type="email" id="userEmail" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="input-group  ">
                                <label id="wrongPassword" class="text-danger"></label>
                            </div>
    
                            <div class="input-group mb-3">
                                <input type="password" id="confirmPassword" class="form-control"
                                    placeholder="Retype password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="input-group mb-3">
                                <label id="wrongPasswordMatch" class="text-danger"></label>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>
    
    
        </div>
        <div class="card-footer">
            <a href="#" id="loginLink" class="text-center">I already have a membership</a>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                        <label for="agreeTerms">
                            I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
    
                <div class="col-4">
                    <button id="registerBtn" disabled="true" class="btn btn-success btn-block"><span
                            class="fas fa-user"></span> Register</button>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
