<div class="container-fluid">
  <div class="card card-outline">
    <div class="card-header bg-gradient-primary"">
      <h3 id="recordName" class="card-title">Loan Applications</h3>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-12 text-right">
          <!-- Optional buttons can be added here -->
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <!-- New Status -->
        <div id="statusNew" class="col-lg-6 col-md-6 col-sm-12 p-3">
          <div class="card shadow-lg  text-center bg-gradient-primary text-white">
            <div class="card-body">
              <h4>New</h4>
              <h2 class="display-4 font-weight-bold"><span id="status-new">0</span></h2>
            </div>
          </div>
        </div>

        <!-- Waiting Status -->
        <div id="statusWaiting" class="col-lg-6 col-md-6 col-sm-12 p-3">
          <div class="card shadow-lg  text-center bg-gradient-secondary ">
            <div class="card-body">
              <h4>Waiting</h4>
              <h2 class="display-4 font-weight-bold"><span id="status-waiting">0</span></h2>
            </div>
          </div>
        </div>

        <!-- Completed Status -->
        <div id="statusCompleted" class="col-lg-6 col-md-6 col-sm-12 p-3">
          <div class="card shadow-lg   text-center bg-gradient-success text-white">
            <div class="card-body">
              <h4>Completed</h4>
              <h2 class="display-4 font-weight-bold"><span id="status-completed">0</span></h2>
            </div>
          </div>
        </div>

        <!-- Dumped Status -->
        <div id="statusDumped" class="col-lg-6 col-md-6 col-sm-12 p-3">
          <div class="card shadow-lg  text-center bg-gradient-danger text-white">
            <div class="card-body">
              <h4>Dumped</h4>
              <h2 class="display-4 font-weight-bold"><span id="status-dumped">0</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
