<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Loans</h3>
            <div class="row">
               
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="clientsLoansTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Applicant</th>
                        <th>Client Type</th>
                        <th>Amount(Mwk)</th>
                        <th>Loaned Date</th>
                        <th>Due Date</th>
                        <th>Disbursements</th>
                        <th>Repayments</th>
                        <th>Seize Collaterals</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
               
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


