<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 id="paymentTitle" class="card-title">Loan Disbursements</h3>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <button type="button" class="btn bg-gradient-info text-left " id="createDisbursementFormBtn"
                        data-action-type="add" data-toggle="modal" data-target="#modal-disbursement">
                        <i class="fa fa-plus-square"></i> New Disbursement
                    </button>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Disbursements</h3>
                    </div>
                    <div class="card-body p-5">
                        <table id="loanDisbursementsTable" class="table  table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Disbursement Amount</th>
                                    <th>Disbursed On</th>
                                    <th>Balance</th>
                                    <th>Disbursed By</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Disbursement Amount</th>
                                    <th>Disbursed On</th>
                                    <th>Balance</th>
                                    <th>Disbursed By</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<div class="modal fade" id="modal-disbursement">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <form id="disbursementForm" action="" method="post"></form>
            <div class="modal-header">
                <h4 id="disbursementModalTitle" class="modal-title">Add Disbursement</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="input-group ">
                                <input id="disbursementLoanId" type="hidden" class="form-control">
                            </div>

                            <div class="form-group ">
                                <label>Disbursed Amount</label>
                                <input id="disbursedAmount" type="text" class="form-control" placeholder="Amount">
                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <div class="form-group">
                                <label>Disbursed Date</label>
                                <div class="input-group date" id="disbursementDatePicker" data-target-input="nearest">
                                    <input type="text" id="disbursedDate" class="form-control datetimepicker-input"
                                        data-target="#disbursementDatePicker" />
                                    <div class="input-group-append" data-target="#disbursementDatePicker"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label>Notes</label>
                            <textarea id="notes" type="text" rows="5"  class="form-control" placeholder="Amount"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
                <button type="button" id="saveDisbursementBtn" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $("#disbursementDatePicker").datetimepicker({
        format: "L",
    });
</script>