<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"> <span class="badge-pill badge-primary">New Applications</span></h3>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-12 text-right">
          <!-- Button for calling add organisation modal -->
          <button type="button" class="btn bg-gradient-secondary text-right" id="uploadClients" data-toggle="modal"
            data-target="#modal-loan-application" data-action-type="add">
            <i class="fa fa-plus-square"></i> Add Application
          </button>

          <button type="button" class="btn bg-gradient-secondary text-left" id="applicationBackBtn">
            <i class="fa fa-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="newLoanApplicationsTable" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Applicant</th>
            <th>Client Type</th>
            <th>Package</th>
            <th>Rate (%)</th>
            <th>Amount (Mwk)</th>
            <th>Guarantors</th>
            <th>Analyse Risk</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <th>ID</th>
          <th>Applicant</th>
          <th>Client Type</th>
          <th>Package</th>
          <th>Rate (%)</th>
          <th>Amount (Mwk)</th>
          <th>Guarantors</th>
          <th>Analyse Risk</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>