<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Seized Collaterals</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                  
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="seizedCollateralsTable" class="table  table-striped">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Identifier</th>
                      <th>ID Type</th>
                      <th>Name</th>
                      <th>Purchased Date</th>
                      <th>Purchased Price</th>
                      <th>Market Value</th>
                      <th>Seized Date</th>
                      <th>SELL</th>
                      <th>RETURN</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Identifier</th>
                      <th>ID Type</th>
                      <th>Name</th>
                      <th>Purchased Date</th>
                      <th>Purchased Price</th>
                      <th>Market Value</th>
                      <th>Seized Date</th>
                      <th>SELL</th>
                      <th>RETURN</th>
                    </tr>
                  </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


