<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><span class="badge-pill badge-warning">Waiting Applications</span></h3>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-12 text-right">
          <!-- Button for calling add organisation modal -->
          <button
            type="button"
            class="btn bg-gradient-secondary text-left float-right"
            id="applicationBackBtn"
          >
            <i class="fa fa-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="waitingApplicationsTable" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Applicant</th>
            <th>Client Type</th>
            <th>Package</th>
            <th>Amount(Mwk)</th>
            <th>Rate(%)</th>
            <th>Grade</th>
            <th>Risk(%)</th>
            <th>Agreement</th>
            <th>APPROVE</th>
            <th>DUMP</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <th>Id</th>
          <th>Applicant</th>
          <th>Client Type</th>
          <th>Package</th>
          <th>Amount(Mwk)</th>
          <th>Rate(%)</th>
          <th>Grade</th>
          <th>Risk(%)</th>
          <th>Agreement</th>
          <th>APPROVE</th>
          <th>DUMP</th>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
