<div class="container-fluid">
    <div class="card card-primary ">
        <div class="card-header">
            <h3 id = "formTitle" class="card-title font-weight-bold">
              <i class="nav-icon fas fa-piggy-bank "></i>Add Client Business</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                   

                    <button type="button" class="btn btn-outline-light text-left" id="recordBackBtn"
                        data-client-type="individual">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            
            <div class="content">
              <form id="businessForm">
                <div class="row">
                        
                  <div class="input-group ">
                    <input id="clientBusId" type="hidden" class="form-control">
                  </div>

                  <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                    <div class="form-group ">
                    <label>Name</label>
                    <div class="input-group " >
                        <input id="busName" type="text"  class="form-control"
                        placeholder="Enter business name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-file"></span>
                        </div>
                    </div>
                    </div>

                    </div>
                  </div>

                  <div class="col-lg-4 col-md-12 col-sm-12 mb-3">                         
                    <div class="form-group ">
                      <label>Industry</label>
                      <div class="select2-primary">
                        <select id="busIndustry" class="form-control"  data-placeholder="Select Industry"
                            data-dropdown-css-class="select2-primary" style="width: 100%;">
                            <option value="Transport & Logistics">Transport & Logistics</option>
                            <option value="Farming">Farming</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Food">Food</option>
                            <option value="Other">Other</option>

                          </select>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                  <div class="form-group">
                    <label>Start Date</label>
                    <div
                      class="input-group date"
                      id="startDatePicker"
                      data-target-input="nearest"
                    >
                      <input
                        type="text"
                        id="busStartDate"
                        class="form-control datetimepicker-input"
                        data-target="#startDatePicker"
                      />
                      <div
                        class="input-group-append"
                        data-target="#startDatePicker"
                        data-toggle="datetimepicker"
                      >
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                      <div class="form-group ">
                      <label>Location</label>
                      <div class="input-group " >
                          <textarea id="busLocation" type="text"  class="form-control"
                          placeholder="location"></textarea>
                      <div class="input-group-append">
                          <div class="input-group-text">
                          <span class="fas fa-coins"></span>
                          </div>
                      </div>
                      </div>

                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                      <div class="form-group ">
                      <label>Short Description</label>
                      <div class="input-group " >
                          <textarea id="busShortDesc" type="text"  class="form-control"
                          placeholder="Short Description"></textarea>
                      <div class="input-group-append">
                          <div class="input-group-text">
                          <span class="fas fa-file"></span>
                          </div>
                      </div>
                      </div>
                      </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                      <div class="form-group ">
                      <label>Description</label>
                      <div class="input-group " >
                          <textarea id="busDescription" type="text"  class="form-control"
                          placeholder="Add Description"></textarea>
                      <div class="input-group-append">
                          <div class="input-group-text">
                          <span class="fas fa-file"></span>
                          </div>
                      </div>
                      </div>

                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                      <div class="form-group ">
                    
                        <div class="icheck-success d-inline">
                          <input id="busRegistered" type="checkbox" />
                          <label for="busRegistered">Is business registered?</label>
                        </div>
                      </div>
                    </div>
                </div>
              </form>
           
            </div>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default alt-btn" >Close</button>
            <button type="button" id="saveBusinessBtn" class="btn btn-primary text-left">Save</button>
        </div>
        <!-- /.card -->
    </div>
    <script>
           $("#busIndustry").select2();
           $("#startDatePicker").datetimepicker({
              format: "L",
            });
      </script>