<div class="container-fluid">
    <div class="card card-primary ">
        <div class="card-header">
            <h3 class="card-title font-weight-bold"> <i class="nav-icon fas fa-piggy-bank  "></i> Add Client</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                   

                    <button type="button" class="btn btn-outline-light text-left" id="recordBackBtn"
                        data-client-type="individual">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            
            <div class="content">
                <div class="row ">


                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Identifier</label>
                        <div class="input-group ">
                          <input id="identifier" type="text" name="identifier" class="form-control" placeholder="Person Identifier">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-card"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Identifier Type</label>
                        <div class="input-group">
                          <select id="identifierType" name="IdentifierType" class="form-control"
                            data-placeholder="Select Identification Type" data-dropdown-css-class="select2-primary"
                            style="width: 100%;">
                            <!-- Add options here -->
                          </select>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Firstname:</label>
                        <div class="input-group ">
                          <input id="firstname" type="text" class="form-control" placeholder="Firstname">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Lastname:</label>
                        <div class="input-group ">
                          <input id="lastname" type="text" name="lastname" class="form-control" placeholder="Lastname">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                  
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Gender:</label>
                  
                        <div class="select2-primary">
                          <select id="gender" name="gender" data-placeholder="Select facility" data-dropdown-css-class="select2-primary"
                            style="width: 100%;">
                            <option value="M">Male</option>
                            <option value="F">female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Date Of Birth:</label>
                        <div class="input-group date" id="dateOfBirthPicker" data-target-input="nearest">
                          <input type="text" id="dateOfBirth" class="form-control datetimepicker-input"
                            data-target="#dateOfBirthPicker" />
                          <div class="input-group-append" data-target="#dateOfBirthPicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Home District:</label>
                  
                        <div class="select2-primary">
                          <select id="homeDistrict" name="district" class="form-control" data-placeholder="Select District"
                            data-dropdown-css-class="select2-primary" style="width: 100%;">
                            <option value="blantyre">Blantyre</option>
                            <option value="lilongwe">Lilongwe</option>
                            <option value="mzuzu">Mzuzu</option>
                            <option value="zomba">Zomba</option>
                            <option value="dedza">Dedza</option>
                            <option value="mangochi">Mangochi</option>
                            <option value="nkhata-bay">Nkhata Bay</option>
                            <option value="karonga">Karonga</option>
                            <option value="mulanje">Mulanje</option>
                            <option value="salima">Salima</option>
                            <option value="thyolo">Thyolo</option>
                            <option value="balaka">Balaka</option>
                            <option value="neno">Neno</option>
                            <option value="phalombe">Phalombe</option>
                            <option value="rumphi">Rumphi</option>
                            <option value="chiradzulu">Chiradzulu</option>
                            <option value="mchinji">Mchinji</option>
                            <option value="nsanje">Nsanje</option>
                            <option value="mwanza">Mwanza</option>
                            <option value="machinga">Machinga</option>
                          </select>
                        </div>
                  
                  
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Home TA:</label>
                        <div class="input-group ">
                  
                          <input id="homeTa" type="text" class="form-control" placeholder="Home TA">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Home Village:</label>
                        <div class="input-group ">
                  
                          <input id="homeVillage" type="text" class="form-control" placeholder="homve Village">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Current District:</label>
                  
                        <div class="select2-primary">
                          <select id="currentDistrict" name="district" class="form-control" data-placeholder="Select District"
                            data-dropdown-css-class="select2-primary" style="width: 100%;">
                            <option value="blantyre">Blantyre</option>
                            <option value="lilongwe">Lilongwe</option>
                            <option value="mzuzu">Mzuzu</option>
                            <option value="zomba">Zomba</option>
                            <option value="dedza">Dedza</option>
                            <option value="mangochi">Mangochi</option>
                            <option value="nkhata-bay">Nkhata Bay</option>
                            <option value="karonga">Karonga</option>
                            <option value="mulanje">Mulanje</option>
                            <option value="salima">Salima</option>
                            <option value="thyolo">Thyolo</option>
                            <option value="balaka">Balaka</option>
                            <option value="neno">Neno</option>
                            <option value="phalombe">Phalombe</option>
                            <option value="rumphi">Rumphi</option>
                            <option value="chiradzulu">Chiradzulu</option>
                            <option value="mchinji">Mchinji</option>
                            <option value="nsanje">Nsanje</option>
                            <option value="mwanza">Mwanza</option>
                            <option value="machinga">Machinga</option>
                          </select>
                        </div>
                  
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Current TA:</label>
                        <div class="input-group ">
                  
                          <input id="currentTa" type="text" name="firstname" class="form-control" placeholder="Current TA">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Current Village:</label>
                        <div class="input-group ">
                  
                          <input id="currentVillage" type="text" name="firstname" class="form-control" placeholder="Current Village">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                      <div class="form-group ">
                        <label>Nearest Landmark:</label>
                  
                        <div class="select2-primary">
                          <select id="nearestLandmark" name="district" class="form-control" data-placeholder="Select Nearest Landmark"
                            data-dropdown-css-class="select2-primary" style="width: 100%;">
                            <option value="Borehole">Borehole</option>
                            <option value="CCAP Church">CCAP Church</option>
                            <option value="Primary School">Primary School</option>
                            <option value="Secondary School">Secondary School</option>
                            <option value="Market">Market</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <script>
                    $('#gender').select2();
                    $('#currentDistrict').select2();
                    $('#homeDistrict').select2();
                    $('#nearestLandmark').select2();
                    //Date picker
                    //$('').datetimepicker(  { icons: { time: 'far fa-clock' } });
                  
                    $('.date').datetimepicker({
                      format: 'L'
                    });
                  
                    $("#identifierType").select2();   
                  </script>
              </div>
            <!-- /.card-body -->

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default alt-btn" >Close</button>
            <button type="button" id="saveInvestmentBtn" class="btn btn-primary text-left">Save</button>
        </div>
        <!-- /.card -->
    </div>