<div class="container-fluid">
    <div class="card card-primary ">
        <div class="card-header">
            <h3 id ="formTitle" class="card-title font-weight-bold"> 
                <i class="nav-icon fas fa-piggy-bank"></i></h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                   

                    <button type="button" class="btn btn-outline-light text-left" id="recordBackBtn"
                        data-client-type="individual">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            
            <div class="content">
                <form id="dependantForm">
                    <div class="row">
                    
                        <div class="input-group ">
                          <input id="clientDependantId" type="hidden" class="form-control">
                        </div>
      
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                          <div class="form-group ">
                          <label>Dependacy</label>
                          <div class="input-group " >
                              <input id="dependancy" type="text"  class="form-control"
                              placeholder="Enter Dependancy">
                          <div class="input-group-append">
                              <div class="input-group-text">
                              <span class="fas fa-hand-shake"></span>
                              </div>
                          </div>
                          </div>
      
                          </div>
                       </div>
      
                          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                              <div class="form-group ">
                              <label>Amount</label>
                              <div class="input-group " >
                                  <input id="amount" type="text"  class="form-control"
                                  placeholder="Amount">
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                  <span class="fas fa-coins"></span>
                                  </div>
                              </div>
                              </div>
      
                              </div>
                          </div>
      
      
      
                          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">                         
                            <div class="form-group ">
                              <label>Relationship</label>
       
                              <div class="select2-primary">
                                <select id="relationship" class="form-control"  data-placeholder="Select Relationship"
                                    data-dropdown-css-class="select2-primary" style="width: 100%;">
                                    <option  value="mother">Mother</option>
                                    <option value="father">Father</option>
                                    <option value="brother">Brother</option>
                                    <option value="sister">Sister</option>
                                    <option value="son">Son</option>
                                    <option value="daughter">Daughter</option>
                                    <option value="In-Law">In Law</option>
                                    <option value="spouse">Spouse</option>
                                    <option value="own family">Own Family</option>
                                    <option value="distant relative">Distant Relative</option>
                                    <option value="friend">Friend</option>
                                    <option value="grand parent">Grand Parent</option>
                                    <option value="other">Other</option>
                                  </select>
                                </div>
                            </div>
                         </div>
      
                      <div class="col-lg-6 col-md-12 col-sm-12 mb-3">                         
                          <div class="form-group ">
                            <label>Frequency (Months)</label>
                            <div class="select2-primary">
                              <select id="frequency" class="form-control"  data-placeholder="Select Category"
                                  data-dropdown-css-class="select2-primary" style="width: 100%;">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                </select>
                              </div>
                          </div>
                    </div>
      
                      </div>
                </form>
              
            </div>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default alt-btn" >Close</button>
            <button type="button" id="saveDependantBtn" class="btn btn-primary text-left">Save</button>
        </div>
        <!-- /.card -->
    </div>
    <script>
         $("#relationship").select2();
         $("#frequency").select2();
      </script>