<div class="container-fluid">
    <div class="card card-primary ">
        <div class="card-header">
            <h3 class="card-title font-weight-bold"> <i class="nav-icon fas fa-piggy-bank  "></i> Add Client Job</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                   

                    <button type="button" class="btn btn-outline-light text-left" id="recordBackBtn"
                        data-client-type="individual">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            
            <div class="content">
                <div class="row">

                    <div class="input-group ">
                      <input id="clientJobId" type="hidden" name="id" class="form-control">
                    </div>
                  
                    <div class="input-group ">
                      <input id="clientId" type="hidden" class="form-control">
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Title:</label>
                        <div class="input-group">
                          <input id="title" type="text" class="form-control" placeholder="Title" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-card"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Department:</label>
                        <div class="input-group">
                          <input id="department" type="text" class="form-control" placeholder="department" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-card"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Employer Type:</label>
                  
                        <div class="select2-primary">
                          <select id="employerType" class="form-control" data-placeholder="Select Employer Type"
                            data-dropdown-css-class="select2-primary" style="width: 100%">
                            <option value="NGO">NGO</option>
                            <option value="Parastatal">Parastatal</option>
                            <option value="Government">Government</option>
                            <option value="Private Instutution">Private Instutution</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Employer Name:</label>
                        <div class="input-group">
                          <input id="employerName" type="text" class="form-control" placeholder="Employer Name" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-card"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Employment Type</label>
                  
                        <div class="select2-primary">
                          <select id="employmentType" class="form-control" data-placeholder="Select Employment Type"
                            data-dropdown-css-class="select2-primary" style="width: 100%">
                            <option value="Temporary">Temporary</option>
                            <option value="Part Time">Part Time</option>
                            <option value="Contract">Contract</option>
                            <option value="Permanent">Permanent</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Date Started</label>
                        <div class="input-group date" id="dateStartedPicker" data-target-input="nearest">
                          <input type="text" id="dateStarted" class="form-control datetimepicker-input"
                            data-target="#dateStartedPicker" />
                          <div class="input-group-append" data-target="#dateStartedPicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Contract Due</label>
                        <div class="input-group date" id="contractDuePicker" data-target-input="nearest">
                          <input type="text" id="contractDue" class="form-control datetimepicker-input"
                            data-target="#contractDuePicker" />
                          <div class="input-group-append" data-target="#contractDuePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Net Salary</label>
                        <div class="input-group">
                          <input id="netSalary" type="text" class="form-control" placeholder="Enter Net Salary" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-money"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Gross Salary</label>
                        <div class="input-group">
                          <input id="grossSalary" type="text" class="form-control" placeholder="Enter Gross Salary" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-money"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Pay Day:</label>
                        <div class="select2-primary">
                          <select id="payDate" class="form-control" data-placeholder="Select Nearest Landmark"
                            data-dropdown-css-class="select2-primary" style="width: 100%">
                  
                          </select>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Office Postal Address:</label>
                        <div class="input-group">
                          <input id="postalAddress" type="text" class="form-control" placeholder="Postal Address" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Office Email:</label>
                        <div class="input-group">
                          <input id="emailAddress" type="text" class="form-control" placeholder="Enter Office Email" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-mail"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  
                  
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>Employer Phone Number</label>
                        <div class="input-group">
                          <input id="phoneNumber" type="text" class="form-control" placeholder="Employer Phone Number" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-users"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="form-group">
                        <label>District of Office:</label>
                        <div class="select2-primary">
                          <select id="district" class="form-control" data-placeholder="Select Nearest Landmark"
                            data-dropdown-css-class="select2-primary" style="width: 100%">
                            <option value="blantyre">Blantyre</option>
                            <option value="lilongwe">Lilongwe</option>
                            <option value="mzuzu">Mzuzu</option>
                            <option value="zomba">Zomba</option>
                            <option value="dedza">Dedza</option>
                            <option value="mangochi">Mangochi</option>
                            <option value="nkhata-bay">Nkhata Bay</option>
                            <option value="karonga">Karonga</option>
                            <option value="mulanje">Mulanje</option>
                            <option value="salima">Salima</option>
                            <option value="thyolo">Thyolo</option>
                            <option value="balaka">Balaka</option>
                            <option value="neno">Neno</option>
                            <option value="phalombe">Phalombe</option>
                            <option value="rumphi">Rumphi</option>
                            <option value="chiradzulu">Chiradzulu</option>
                            <option value="mchinji">Mchinji</option>
                            <option value="nsanje">Nsanje</option>
                            <option value="mwanza">Mwanza</option>
                            <option value="machinga">Machinga</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            <!-- /.card-body -->

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default alt-btn" >Close</button>
            <button type="button" id="saveJobBtn" class="btn btn-primary text-left">Save</button>
        </div>
        <!-- /.card -->
    </div>
    <script>
        $("#gender").select2()
        $("#employmentType").select2();
        $("#district").select2();
        $("#employerType").select2();
        $("#currentDistrict").select2();
        $("#homeDistrict").select2();
        $("#nearestLandmark").select2();
        //Date picker
        //$('').datetimepicker(  { icons: { time: 'far fa-clock' } });
      
        $(".date").datetimepicker({
          format: "L",
        });
      
        for (let i = 1; i <= 31; i++) {
          $("#payDate").append(`<option value="${i}">${i}</option>`);
        }
      
      
      </script>