<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Shareholders</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn bg-gradient-success text-left" id="btnShareHolderBtn"
                        data-button-type = "add">
                        <i class="fa fa-plus-square"></i> Add Branch
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="shareholdersTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Gender</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
