<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-gradient-primary">
            <h3 class="card-title">Shares</h3>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="sharesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Gender</th>
                        <th>Share_Class Name</th>
                        <th>Shares</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

