name: Sync Web -> Cordova App (Incremental)
on:
  push:
    branches:
      - main
jobs:
  sync:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout thumba-web
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Check if token is being injected
        run: |
          if [ -z "${{ secrets.THUMBA_SYNC }}" ]; then
            echo "TOKEN IS EMPTY"
          else
            echo "TOKEN IS PRESENT"
          fi
      
      - name: Checkout thumba-cordova repo
        uses: actions/checkout@v4
        with:
          repository: Mangotech-Malawi/thumba-cordova
          token: ${{ secrets.THUMBA_SYNC }}
          path: thumba-cordova
          fetch-depth: 1
      
      - name: Sync files to www folder
        run: |
          rsync -av 
            --exclude='.git' \
            --exclude='.github' \
            --exclude='.DS_Store' \
            --exclude='.vs' \
            --exclude='node_modules' \
            ./ \
            thumba-cordova/www/
            
      
      - name: Commit & push changes
        run: |
          cd thumba-cordova
          
          git remote set-url origin "https://x-access-token:${{ secrets.THUMBA_SYNC }}@github.com/Mangotech-Malawi/thumba-cordova.git"
          
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add .
          
          if ! git diff --cached --quiet; then
            git commit -m "Auto-sync from thumba-web main"
            git push origin main
          else
            echo "No changes to sync"
          fi